<header id="gh-head" class="gh-head gh-outer">
    <div class="gh-head-inner">
        <div class="gh-head-brand">
            <a class="gh-head-logo" href="#top">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>
            <button class="gh-burger"></button>
        </div>

        <nav class="gh-head-menu">
            {{navigation}}
        </nav>

        <div class="gh-head-actions">
            {{#if @site.twitter}}
                <a href="{{twitter_url @site.twitter}}" class="gh-head-btn gh-btn social" title="Twitter" target="_blank" rel="noopener">
                    {{> "icons/twitter"}}
                </a>
            {{/if}}

            {{#if @site.facebook}}
                <a href="{{facebook_url @site.facebook}}" class="gh-head-btn gh-btn social" title="Facebook" target="_blank" rel="noopener">
                   {{> "icons/facebook"}}
                </a>
            {{/if}}

            {{#if @custom.instagram_page}}
                <a href="{{@custom.instagram_page}}" class="gh-head-btn gh-btn social" title="Instagram" target="_blank" rel="noopener">
                    {{> "icons/instagram"}}
                </a>
            {{/if}}
            {{#unless @member}}
                <a class="gh-head-btn gh-btn" href="#/portal/signup" data-portal="signup">Subscribe</a>
            {{else}}
                <a class="gh-head-btn gh-btn" href="#/portal/account" data-portal="account">Account</a>
            {{/unless}}
        </div>
    </div>
</header>